body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#vote-container{
  margin: auto;
}
#vote-container h1{
  text-align: center;
}
#vote-row{
  border: 1px solid #000000;
  padding: 1em 0;
  /*width: 70%;*/
  display: block;
  text-align: center;
}
#btn-add{
  background-color: green;
    color: #FFF;
    font-weight: 600;
    margin-right: 10px;
    padding: .5em;
}
#btn-remove{
  background-color: red;
  color: #FFF;
  font-weight: 600;
  padding: .5em;

}
#voting-btn{
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}
#vote-num{
  border: 1px solid #000000;
  border-radius: 50px;
  padding: .3em;
  margin-right: 50px;
  width: 50%;
}
h3#vote-name{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
}
.brand-logo{
  width: 150px;
  height: auto;
}